.nav {

     li {
         font-size: 20px;
      }

      a {
        text-decoration: none;
        &:hover {
          color: #f55bb2;
        }
        &:active {
          color: #F5C31A;
        }
      }
}
